__pycache__/
.pytest_cache/

.env
venv
.venv

.vscode

node_modules

data/
postgres_data*/
postgres_test_data/
qdrant_data/
backups/
server/test_reports/

docker-compose_dev.yml

qdrant_data/
qdrant_data_*/

databases
